<h1>Hello Index </h1>

<ul>
    <%= for item <- @tasks do%>
        <li> <%= item.title %> </li>
        <li> <%= item.description %> </li>
        <li> <%= item.due_date %> </li>
        <li> <%= item.status %> </li>
    <% end %>

</ul>