<h1>Informações sobre a task <%= @task.title %></h1>

<p><strong>Descrição:</strong> <%= @task.description %></p>

<.show_status task={@task}/>

<p><strong>Data de expiração:</strong> <%= @task.due_date %></p>